body{

  /* background-color:  black; */
  background-image: url('../images/background.png');

}
h1{
  text-align: center;
  /* padding-top: 3%; */
}
.borderBox{
  background-color: green;
  width: 20%;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
}
button{
  width: 70px;

       height: 30px;
}
.image{

  padding-top: 5%;
}
.cookie{
  display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
cursor: pointer;
transition: transform .2s;
border-radius: 100%;
}
.cookie:hover{
  transform: scale(1.2);
}
.scoreDisplay{
  text-align: center;
  width: 200px;
  background-color: blue;
  margin: auto;
  border-radius: 5%;
  justify-content: center;
  font-size: 3rem;

}
.score{
  text-align: center;
  margin-top: 6%;
  font-size: 3rem;

}
